*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-image: url('../assests/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
/* Navigation Menu */
.head{
    background-color: black;
    padding: 10px 30px;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    gap: 100px;
}
.logo ul{
    display: flex;
    gap: 70px;
    padding: 20px 40px;
}
li{
    list-style: none;
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.vertical-line{
    border-left: 3px solid white;
    height: 60px;
    /* position: absolute; */
    /* left: 50%; */
}
.btn{
    background-color: #a32cc4;
    padding: 15px 50px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}




/* Hero Section */
.hero-section{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.hero-section h1{
    font-size: 5rem;
    font-weight: 900;
}
.container{
    padding-top: 10rem;
    padding-bottom: 5rem;
    justify-content: center;
}
.container p{
    font-size: 1.5rem;
    font-weight: 700;
}
.main-btn{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #a32cc4;
    font-size: 1.5rem;
    padding: 15px 25px;
    font-weight: 800;
    cursor: pointer;
}
.main-btn:hover{
    color: black;
    background-color: white;
}